{{#if isDevelopment}}
<nav class="navbar navbar-light bg-faded navbar-dev">
	<div class="container">
		{{#link-to "index" class="navbar-brand"}}{{brand}}{{/link-to}}

		<div class="pull-right">
			{{#if session.isAuthenticated}}
			logged in as {{session.user.displayName}}
			<button class="btn btn-primary btn-sm" {{action 'logout'}}>Logout</button>
			{{else}}
			<form class="form-inline" {{action 'login' on='submit'}}>
				{{input class="form-control form-control-sm" placeholder="Login" value=login}}
				{{input type="password" class="form-control form-control-sm" placeholder="Password" value=password}}
			    <button class="btn btn-primary btn-sm" type="submit">Login</button>
			</form>
			{{/if}}
		</div>
	</div>
</nav>
<div class="container">
	{{yield}}
</div>
{{else}}
{{yield}}
{{/if}}
